.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0
}

#header {
  width: 100vw;
  height: 10vh;
  background-color: #4d4de4;
  padding-top: 3%;
  padding-left: 3%;
}
body{
  background-color: black;
}
#main {
  display: flex;
  padding:30px;
  margin: 0 auto;
  margin-top: 40px;
  width: 70vw;
  height: 45vh;
  background-color: white;
  color: black
}
.name{
  position: relative;
  margin-bottom: 200 px;
}

#counter{
  font-weight: 1000;
  font-size: x-large;
  display: flex;
  justify-content: flex-end;
  float: right;
}
.pageturn{
  padding-left: 200px;
  padding-right: 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.controls {
  width: 10vw;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer; 
}
.movieList {
 position: relative;
 margin-left: 50px;
}  
